{% extends 'base.html' %}
{% load static %}

{% block title %}
    Профайл пользователя {{ user.username }}
{% endblock %}

{% block content %}

  <div class="container py-5">
    <h4>Игры пользователя</h4>
    {% for game in games %}
      <p>
        <a href="
          {% if game.game_over %}
            {% url 'games:game_detail' game.id %}
          {% else %}
            {% url 'games:active_game' game.id %}
          {% endif %}
        ">{{ game.country_name }}</a>
        - {{ game.start_date }} -
        {% if game.game_over %}Завершена{% else %}Не завершена{% endif %}
      </p>
    {% endfor %}

  </div>

{% endblock %}
