{% extends 'base.html' %}
{% load static %}
{% load verbose_names %}
{% load filters %}


{% block title %}
    Игра - {{ game.country_name }}
{% endblock %}

{% block content %}
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                {{ game.country_name }}
              </div>


              <div class="card-body">

                <form class="form-control" method="post" action="">{% csrf_token %}

                  <div class="container">
                    {{ game.start_date }} - Период: {{ game.current_period }}
                  </div>
                  <div>
                    Игра завершена: {{ game.game_over }}
                  </div>

                  <div class="form-control">
                    <h4>Данные на конец {{ game.current_period|add:"-1" }} периода</h4>

                    <h5>{{ df.doc }}</h5>
                    {% include "includes/ministry_table.html" with df=df %}
                  </div>

                  <br>
                  <div>
                    <h4>Министерство финансов</h4>
                    {% include "includes/ministry_form.html" with form=form_min_finance %}
                  </div>
                  <br>
                  <div>
                    <h4>Министерство природных ресурсов</h4>
                    {% include "includes/ministry_form.html" with form=form_min_natural_resource %}
                  </div>
                  <br>
                  <div>
                    <h4>Министерство энергетики</h4>
                    {% include "includes/ministry_form.html" with form=form_min_energy %}
                  </div>


                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                        Добавить
                    </button>
                  </div>
                </form>
              </div>


            </div>
          </div>
        </div>
      </div>
{% endblock %}