{% extends 'base.html' %}
{% load static %}

{% block title %}
  Главная страница
{% endblock %}

{% block content %}
  <div class="container ">
    <form method="post">{% csrf_token %}
      <div class="container">
        {{ form.as_p }}
      </div>

      <div class="d-flex justify-content-end" >
        <button type="submit" class="btn btn-primary">
            Добавить
        </button>
      </div>
    </form>
  </div>

  <h3>Последние завершенные игры.</h3>
  <hr>
  <div class="container">
    {% for game in games %}
      <p>
        {{ game.finish_date }} -
        <a href="{% if game.game_over %}{% url 'games:game_detail' game.id %}{% else %}{% url 'games:active_game' game.id %}{% endif %}">{{ game.country_name }}</a>
        - <a href="{% url 'users:profile' game.creator.id %}">{{ game.creator }}</a>
      </p>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
{% endblock %}
