{% extends 'base.html' %}
{% load static %}

{% block title %}
  Главная страница
{% endblock %}

{% block content %}
  <br>
  <div class="container mb-3" >
    <form class="form-control translucent_form"  method="post">{% csrf_token %}
        <br>
        <div class="row">
          <div class="col">
            {{ form }}
          </div>

          <div class="col d-flex justify-content-end" >
            <button type="submit" class="btn btn-primary btn-main">
                Начать игру
            </button>
          </div>
        </div>
      <br>
    </form>
  </div>

  <h3><span class="font-bordo">Последние завершенные игры</span></h3>
  <hr>
  <div class="container">
    {% for game in games %}
      <p>
        {{ game.finish_date }} -
        <a href="{% if game.game_over %}{% url 'games:game_detail' game.id %}{% else %}{% url 'games:active_game' game.id %}{% endif %}">{{ game.country_name }}</a>
        - <a href="{% url 'users:profile' game.creator.id %}">{{ game.creator }}</a>
      </p>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </div>
{% endblock %}
